<div *ngIf="errors"> {{ errorText }}</div>

<app-dashboard-viewer></app-dashboard-viewer>
<hr>

<app-count [items]="passengers"></app-count>
{{ passengers | json }}
<app-detail *ngFor="let p of passengers" [detail]="p"
            (remove)="handleRemove($event)"
            (edit)="handleEdit($event)"
></app-detail>


