<p>

</p>


<form #form="ngForm" novalidate>
  <div>
    Name:
  <input type="text" name="name" #name="ngModel" [ngModel]="detail?.name" minlength="8"> {{name.errors | json}}
</div>
  <br>
  <div>
    Id：
  <input type="number" name="id" [ngModel]="detail?.id" >
  </div>
<br>
  <div>
    Age：
    <input type="number" name="age" #age="ngModel" [ngModel]="detail?.age" required > {{age.errors | json}}
  </div>
<br>
  <div>
    CheckedIn:
    <input type="checkbox" name="checkedIn"  #checkBox="ngModel" [ngModel]="detail?.checkedIn"
           (click)="handleCheckedIn(!checkBox.value)">

<br>
    CheckedInDate:
    <div *ngIf="form.value.checkedIn">
      <input type="number" name="checkedInDate" [ngModel]="detail?.checkedInDate">

    </div>
  </div>
  <br>
  <div>
    <label>
      luggage:
      <select name="luggage" #newLuggage="ngModel"[ngModel]="detail?.luggage"
        (change)="handleSelect(newLuggage.value)">
        <option *ngFor="let luggage of luggages"
                [value]="luggage.key"
        >{{luggage.value}}</option>
      </select>
    </label>
newLuggage : {{newLuggage.value}}
  </div>

  {{ form.value | json}}

</form>

