.status {
  line-height: 15px;
  height: 10px;
  width: 10px;
  float: left;
  background-color: red;
  border-radius: 50%;
&.checkedIn {
   background-color: green;
 }
}

button {
  height: 28px;
  width: 120px;
  background-color: purple;
}
