<div>
  Name: {{ detail.name  }}
</div>
<div *ngIf="editting">
  <input type="text" [value]="detail.name" (input)="updateName(name.value)" #name>
</div>
<div>
  Age: {{ detail.age }}
</div>
<div>
  <span class="status" [class.checkedIn]="detail.checkedIn "></span>
  CheckedIn: {{ detail.checkedIn }}
</div>
<div>
  CheckedIn Date: {{ detail.checkedInDate ? (detail.checkedInDate | date: 'short' | lowercase) : 'N/A' }}
</div>

<button (click)="toggleEdit()">{{ editting ? 'Done' : 'Edit'}}</button>
<button (click)="removePassenger($event)">Remove</button>

